<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{'titulo_seccion_actos' | translate}}">
  <ion-content class="padding">
    <h1>
      {{acto.title}}
    </h1>
    <div ng-bind-html="acto.imagen_acto"></div>
    <button ng-disabled="acto.scheduled" class="button" ng-click="addNotificationForm()">{{'add_notification'| translate}}</button>
    <button class="button" ng-click="cancelNotification(acto.id)">cancel</button>
    <div class="entry_date">
              <div class="month">{{acto.fecha| date:'MMMM'}}</div>
              <div class="day">{{acto.fecha| date:'dd'}}</div>
              <div class="hour">{{acto.fecha| date:'HH:mm'}}</div>
            </div>
    
    <div ng-bind-html="acto.description"></div>
    <div ng-bind-html="acto.link"></div>
    
  </ion-content>
</ion-view>
