<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{'titulo_seccion_actos' | translate}}{{logo}}">
  <ion-content class="">
    <div ng-bind-html="acto.imagen_acto"></div>
    <h3 class="padding">
      {{acto.title}}
    </h3>
    <div class="padding">
      
        <button ng-disabled="acto.scheduled" class="button" ng-click="addNotificationForm()">{{'add_notification'| translate}}</button>
        <div class="button icon ion-android-share-alt" ng-click="shareAnywhere()"></div>

    </div>
    <div class="padding">
      <div ng-bind-html="acto.description"></div>
      <div ng-bind-html="acto.link"></div>
      
    </div>
    
  </ion-content>
</ion-view>
