<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{acto.node_title}}">
  <ion-content class="padding">
    <h1>
      {{acto.node_title}}
    </h1>
    <div ng-bind-html="acto.fecha "></div>
    <div ng-bind-html="acto.imagen"></div>
  </ion-content>
</ion-view>
