<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{acto.title}}">
  <ion-content class="padding">
    <h1>
      {{acto.title}}
    </h1>
    <p>{{acto.fecha | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    <div ng-bind-html="acto.imagen"></div>
    <div ng-bind-html="acto.description"></div>
    <div ng-bind-html="acto.link"></div>
    <button class="button" ng-click="add()">Add notification</button>
    <button class="button" ng-click="isScheduled()">Is Scheduled</button>
  </ion-content>
</ion-view>
