<ion-view view-title="Actos Katakrak">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="acto in actos" type="item-text-wrap" href="#/tab/acto/{{acto.id}}">
        <div ng-bind-html="acto.thumbnail" class="pull-left"></div>
        <h2>{{acto.title}}</h2>
        <p>{{acto.fecha| date:'yyyy-MM-dd HH:mm:ss'}} </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
