<ion-view view-title="{{'titulo_seccion_actos' | translate}}{{logo}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="acto in actos" type="item-text-wrap" href="#/tab/acto/{{acto.id}}">
        <h2>{{acto.title}}</h2>
        <div class="row">
          <div class="col-66">
            <div ng-bind-html="acto.thumbnail"></div>
          </div>
          <div class="col col-bottom"> 
            <div class="entry_date">
              <div class="month" ng-bind-html="acto.mes[0]+acto.k"></div>
              <div class="day" ng-bind-html="acto.dia[0]"></div>
              <div class="hour" ng-bind-html="acto.hora[0]"></div>
            </div>
          </div>
        </div>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
