/* Empty. Add your own CSS if you like */

.entry_date div.month, .entry_date div.day, .entry_date div.hour, .entry_date div.weekday {
  background-color: #2780AF;
  color: white;
  text-align: center;
  padding: 5px;
}

.bar-header .pull-right{
  float:right;
}

img {
  max-width: 100%;
}

.fondo {
  background-image: url("../img/fondo.png");
}

.item-transparent {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.bar.bar-header {
  height: 60px;
}

.bar .title {
  height: 60px;
}

.list {
  padding-top: 20px;
}