/* Empty. Add your own CSS if you like */

.entry_date div.month, .entry_date div.day, .entry_date div.hour, .entry_date div.weekday {
  background-color: #2780AF;
  color: white;
  text-align: center;
  padding: 5px;
}

